<div>

  @if (filteredItems.length > 0){
  @for (item of data; track item.no_match) {

    <div class="box">
      @if (item.event_name) {
        <div class="event_name">
          {{ item.event_name }}
        </div>
      }


      <div class="flex_box">
        <div class="match_date">
          <div> {{ item.match_date | date: 'dd/MM' }}</div>
          <div> {{ item.match_date  | date: 'hh:mm' }}</div>
          <div> {{ item.match_date | date: 'a' }}</div>
        </div>
        <div class="club_names">
          <p [ngClass]="{highlight:item.handicap_display.endsWith('|')}">
            {{ item.club_home }}
          </p>
          <p [ngClass]="{highlight:item.handicap_display.startsWith('|')}">
            {{ item.club_away }}
          </p>
        </div>
        <div class="odds_display">
          <div class="odd_item">
            @if (item.handicap_display.endsWith('|')) {
              <p class="hd">{{ item.handicap_display | slice:0: -1 }}</p>
            }
            <div class="odd">
              {{ item.odds_home | slice: 0: 4 }}
            </div>
          </div>
          <div class="odd_item">
            @if (item.handicap_display.startsWith('|')) {
              <p class="hd">{{ item.handicap_display | slice: 1 }}</p>
            }
            <div class="odd">
              {{ item.odds_away  | slice: 0: 4 }}
            </div>
          </div>
        </div>

      </div>

    </div>
  }  }
</div>
